.employees-table {
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
}

.employees-table th,
.employees-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.employees-table th {
  background-color: #f2f2f2;
}

.edit-icon {
  color: blue;
  margin-right: 10px;
  cursor: pointer;
}

.delete-icon {
  color: red;
  cursor: pointer;
}