@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #F9FAFB;
  font-family: 'Poppins', sans-serif;
}

.title {
color: blue;
font-size: 24px;
padding-left: 10px;
font-weight: 600;
}

.star {
color: red;
}

.form-group form {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.form-group label {
    margin-top: 15px;
    font-weight: 500;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
.form-group input:focus,
.form-group select:focus {
    border-color: #007bff;
}

.form-group button {
    margin: 10px 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.form-group button:hover {
    background-color: #0056b3;
}

.employees-table {
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
}

.employees-table th,
.employees-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.employees-table th {
  background-color: #f2f2f2;
}

.edit-icon {
  color: blue;
  margin-right: 10px;
  cursor: pointer;
}

.delete-icon {
  color: red;
  cursor: pointer;
}